.butt{
	margin: 10px;
	border-radius: 100%;
	height: 90px;
	line-height: 65px;
	width: 120px;
	text-align: center;
	color: #66667a;
	background-color: #ffb6c1;
	font-size: 18px;
	font-family: 'Shadows Into Light', 'cursive';
}

#header{
	margin: auto;
	text-align: center;
	color: #66667a;
	font-family: 'Dancing Script', 'cursive';
}

#row {
	margin: auto;
}

